# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

lib/firebase_options.dart

# firebase
firebase.json
database-debug.log
firebase-debug.log
firestore.indexes.json
database.rules.json
firebase-debug.log
firestore-rules
.firebaserc
firestore-debug.log
firestore.rules
pubsub-debug.log
remoteconfig.template.json
storage.rules
ui-debug.log
database.rules
run_emulator.sh