<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910105850944-alas8pb94am8vk6ogh722isqdd96e45i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910105850944-alas8pb94am8vk6ogh722isqdd96e45i</string>
	<key>API_KEY</key>
	<string>AIzaSyD17h8qZxP4wiOybThArjFed5LX1QJEFeo</string>
	<key>GCM_SENDER_ID</key>
	<string>910105850944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udhaari</string>
	<key>PROJECT_ID</key>
	<string>expenses-eb3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-eb3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910105850944:ios:f23a47f0e14fcb36b19ba5</string>
</dict>
</plist>